/* variáveis */

:root {
    --font-color1:#ffffff;
    --font-color2: #000000;
    --font-color3: #030436;
    --font-color4: red;
    --font-color5: rgb(136, 130, 255);
    --bg-color1: #0e0f69;
    --bg-color2: #f1e9e9;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-color1);
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*responsividade*/
@media (max-width:500px){
    .container{
        justify-content: center;
        padding: 15px;
    }
}